extends layout

block content
   
    main.content
        .columns.is-multiline
            each item in noticias
                .column.is-4-tablet.is-3-desktop

                    a(href!="http://localhost:3000/detail/" + item.id)
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3 is-marginless">
                                <img src="#{item.urlToImage}" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">#{item.title}</p>
                                        if item.author
                                            <p class="subtitle is-6">@#{item.author}</p>
                                        <p class="subtitle is-6">+#{item.source.name}</p>
                                    </div>
                                </div>

                                <div class="content">
                                    p= item.description
                                    if item.labels
                                        each label in item.labels
                                            a(href=label.url)= label.text
                                    <br>
                                    time(datetime="2016-1-1")= item.publishedAt
                                </div>
                            </div>
                            footer.card-footer
                                if item.fav
                                    span.icon.is-medium.has-text-danger
                                        i.fas.fa-heart.fa-lg
                                else
                                    span.icon.is-medium
                                        i.fas.fa-heart.fa-lg
                        </div>
