extends layout

block content
   
    if isHomePage
        div.query-filters
            form(method="get", action="feed").query-filters
                div.searchbar.button
                    input(type="text", placeholder="busqueda", name="search")
                    button(data-app="submitSearch", type="submit")
                        i.fas.fa-search
            form(method="get", action="feed").query-filters
                div.searchbar
                    select(name="country").button
                        option(value="us") Noticias en inglés
                        option(value="mx") Noticias en español
                        option(value="ru") Noticias en ruso
                    button(data-app="submitCountry", type="submit").button Buscar

    main(data-app="feed").content.feed-main
        
        if noticias.length > 0
            .columns.is-multiline
                each item in noticias
                    .column.is-4-tablet.is-3-desktop

                        a(href!="http://localhost:3000/detail/" + item.id)
                            div.card
                                div.card-image
                                    figure.image.is-4by3.is-marginless
                                        <img src="#{item.urlToImage}" alt="Placeholder image">
                                    
                                div.card-content
                                    div.media
                                        div.media-content
                                            p.title.is-4!= item.title
                                            if item.author
                                                p.subtitle.is-6 @#{item.author}
                                            p.subtitle.is-6 +#{item.source.name}

                                    div.content
                                        p= item.description
                                        if item.labels
                                            each label in item.labels
                                                a(href=label.url)= label.text
                                        <br>
                                        span= item.publishedAt

                                if item.fav                                
                                    footer.card-footer
                                        span.icon.is-medium.card-footer-item
                                            i.fas.fa-heart.fa-lg.has-text-danger

                                        span.icon.is-medium.card-footer-item
                                            i.fas.fa-star.fa-lg.has-text-warning
                                            span!= item.rating
        else
            h2.has-text-centered Oops!
            p.has-text-centered No se ha encontrado ningún artículo


    <script type="text/template" data-template="card">
        .column.is-4-tablet.is-3-desktop
                a(href!="http://localhost:3000/detail/{{id}}")
                    div.card
                        div.card-image
                            figure.image.is-4by3.is-marginless
                                <img src="{{urlToImage}}" alt="Placeholder image">
                            
                        div.card-content
                            div.media
                                div.media-content
                                    p.title.is-4 {{title}}
                                    p.subtitle.is-6 @{{author}}
                                    p.subtitle.is-6 +#{{sourceName}}

                            div.content
                                p {{description}}
                                <br>
                                span {{publishedAt}}
                        
        </script>
    script(src="js/feed.js")
