extends layout

block content
    header
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand content custom-brand">
                a(href="/")
                    figure.image.is-32x32.logo-brand
                        img(src="/images/logo.png")
                    h1 NewsReader
            </div>
        </nav>




    main.content
        .columns.is-multiline
            each noticia in noticias
                .column.is-4-tablet.is-3-desktop
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3 is-marginless">
                                if noticia.urlToImage
                                    img(src=noticia.urlToImage, alt="Placeholder image")
                                else
                                    img(src="https://images.pexels.com/photos/261949/pexels-photo-261949.jpeg", alt="Placeholder image")
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    p.title.is-4= noticia.title
                                    if noticia.author
                                        p.subtitle.is-6= "@" + noticia.author
                                </div>
                            </div>

                            <div class="content">
                                p= noticia.description
                                <a href="#">#css</a> <a href="#">#responsive</a>
                                <br>
                                time(datetime="2016-1-1")= noticia.publishedAt
                            </div>
                        </div>
                        footer.card-footer
                            span.icon.is-medium.has-text-danger
                                i.fas.fa-heart.fa-lg
                    </div>

    
    
    
    
    
    
    footer#main-footer.content.has-text-centered
        p
            a(href="https://newsapi.org/") Fuente de noticias NewsApi