extends layout

block content
    header
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand content custom-brand">
                a(href="/")
                    figure.image.is-32x32.logo-brand
                        img(src="/images/logo.png")
                    h1 NewsReader
            </div>
        </nav>




    main.content
        .columns.is-multiline
            each item in newsFeed
                .column.is-4-tablet.is-3-desktop
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3 is-marginless">
                            <img src="#{item.urlToImage}" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">#{item.title}</p>
                                    <p class="subtitle is-6">@#{item.source.name}</p>
                                </div>
                            </div>

                            <div class="content">
                                <p>#{item.description}</p>
                                <time datetime="2016-1-1">#{item.publishedAt}</time>
                            </div>
                        </div>
                        footer.card-footer
                            span.icon.is-medium.has-text-danger
                                i.fas.fa-heart.fa-lg
                    </div>

    
    
    
    
    
    
    footer#main-footer.content.has-text-centered
        p
            a(href="https://newsapi.org/") Fuente de noticias NewsApi